In [3]:
import pandas as pd
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
df1 = pd.read_csv("C:/Users/2068671/OneDrive - Cognizant/Desktop/Datasets/Automobile_data.csv")

In [39]:
df1.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [40]:
df1.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [41]:
df1.shape

(61, 10)

In [42]:
df1.dropna(how = "any", axis = 0, inplace= True)

In [43]:
from word2number import w2n

In [44]:
df1["num-of-cylinders"] = df1[["num-of-cylinders"]].applymap(lambda x: w2n.word_to_num(x))
df1.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,4,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,4,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,4,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,5,115,18,17450.0

In [45]:
def target_encoding(data, column, target_column):
    mean_index = data.groupby(column)[target_column].mean().sort_values(ascending= False).index
    labels = {b:a for a,b in enumerate(mean_index, 0)}
    data[column] = data[column].map(labels)

In [46]:
target_encoding(df1,"company","price")
target_encoding(df1,"body-style","price")
target_encoding(df1,"engine-type","price")

In [47]:
df1.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,5,1,88.6,168.8,2,4,111,21,13495.0
1,1,5,1,88.6,168.8,2,4,111,21,16500.0
2,2,5,4,94.5,171.2,1,6,154,19,16500.0
3,3,4,2,99.8,176.6,3,4,102,24,13950.0
4,4,4,2,99.4,176.6,3,5,115,18,17450.0

In [48]:
df1.drop("index", axis = 1, inplace = True)

In [49]:
df1.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,5,1,88.6,168.8,2,4,111,21,13495.0
1,5,1,88.6,168.8,2,4,111,21,16500.0
2,5,4,94.5,171.2,1,6,154,19,16500.0
3,4,2,99.8,176.6,3,4,102,24,13950.0
4,4,2,99.4,176.6,3,5,115,18,17450.0

In [21]:

X = df1.iloc[:, :-1].values
X

array([[  0. ,   5. ,   1. ,  88.6, 168.8,   2. ,   4. , 111. ,  21. ],
       [  1. ,   5. ,   1. ,  88.6, 168.8,   2. ,   4. , 111. ,  21. ],
       [  2. ,   5. ,   4. ,  94.5, 171.2,   1. ,   6. , 154. ,  19. ],
       [  3. ,   4. ,   2. ,  99.8, 176.6,   3. ,   4. , 102. ,  24. ],
       [  4. ,   4. ,   2. ,  99.4, 176.6,   3. ,   5. , 115. ,  18. ],
       [  5. ,   4. ,   2. ,  99.8, 177.3,   3. ,   5. , 110. ,  19. ],
       [  6. ,   4. ,   3. , 105.8, 192.7,   3. ,   5. , 110. ,  19. ],
       [  9. ,   3. ,   2. , 101.2, 176.8,   3. ,   4. , 101. ,  23. ],
       [ 10. ,   3. ,   2. , 101.2, 176.8,   3. ,   4. , 101. ,  23. ],
       [ 11. ,   3. ,   2. , 101.2, 176.8,   3. ,   6. , 121. ,  21. ],
       [ 13. ,   3. ,   2. , 103.5, 189. ,   3. ,   6. , 182. ,  16. ],
       [ 14. ,   3. ,   2. , 103.5, 193.8,   3. ,   6. , 182. ,  16. ],
       [ 15. ,   3. ,   2. , 110. , 197. ,   3. ,   6. , 182. ,  15. ],
       [ 16. ,  15. ,   4. ,  88.4, 141.1,   5. ,   3. ,  48. ,  47. ],
       [ 17. ,  15. ,   4. ,  94.5, 155.9,   3. ,   4. ,  70. ,  38. ],
       [ 18. ,  15. ,   2. ,  94.5, 158.8,   3. ,   4. ,  70. ,  38. ],
       [ 19. ,  14. ,   4. ,  93.7, 157.3,   3. ,   4. ,  68. ,  31. ],
       [ 20. ,  14. ,   4. ,  93.7, 157.3,   3. ,   4. ,  68. ,  31. ],
       [ 27. ,   7. ,   3. ,  96.5, 157.1,   3. ,   4. ,  76. ,  30. ],
       [ 28. ,   7. ,   2. ,  96.5, 175.4,   3. ,   4. , 101. ,  24. ],
       [ 29. ,   7. ,   2. ,  96.5, 169.1,   3. ,   4. , 100. ,  25. ],
       [ 30. ,  12. ,   2. ,  94.3, 170.7,   3. ,   4. ,  78. ,  24. ],
       [ 33. ,   2. ,   2. , 113. , 199.6,   2. ,   6. , 176. ,  15. ],
       [ 34. ,   2. ,   2. , 113. , 199.6,   2. ,   6. , 176. ,  15. ],
       [ 35. ,   2. ,   2. , 102. , 191.7,   1. ,  12. , 262. ,  13. ],
       [ 36. ,   8. ,   4. ,  93.1, 159.1,   3. ,   4. ,  68. ,  30. ],
       [ 37. ,   8. ,   4. ,  93.1, 159.1,   3. ,   4. ,  68. ,  31. ],
       [ 38. ,   8. ,   4. ,  93.1, 159.1,   3. ,   4. ,  68. ,  31. ],
       [ 39. ,   8. ,   4. ,  95.3, 169. ,   4. ,   2. , 101. ,  17. ],
       [ 43. ,   8. ,   2. , 104.9, 175. ,   3. ,   4. ,  72. ,  31. ],
       [ 44. ,   1. ,   2. , 110. , 190.9,   3. ,   5. , 123. ,  22. ],
       [ 45. ,   1. ,   3. , 110. , 190.9,   3. ,   5. , 123. ,  22. ],
       [ 46. ,   1. ,   2. , 120.9, 208.1,   1. ,   8. , 184. ,  14. ],
       [ 47. ,   1. ,   0. , 112. , 199.2,   1. ,   8. , 184. ,  14. ],
       [ 49. ,  13. ,   4. ,  93.7, 157.3,   3. ,   4. ,  68. ,  37. ],
       [ 50. ,  13. ,   4. ,  93.7, 157.3,   3. ,   4. ,  68. ,  31. ],
       [ 51. ,  13. ,   2. ,  96.3, 172.4,   3. ,   4. ,  88. ,  25. ],
       [ 52. ,  13. ,   2. ,  96.3, 172.4,   3. ,   4. ,  88. ,  25. ],
       [ 53. ,  10. ,   2. ,  94.5, 165.3,   3. ,   4. ,  55. ,  45. ],
       [ 54. ,  10. ,   2. ,  94.5, 165.3,   3. ,   4. ,  69. ,  31. ],
       [ 55. ,  10. ,   2. ,  94.5, 165.3,   3. ,   4. ,  69. ,  31. ],
       [ 56. ,  10. ,   3. ,  94.5, 170.2,   3. ,   4. ,  69. ,  31. ],
       [ 57. ,  10. ,   2. , 100.4, 184.6,   1. ,   6. , 152. ,  19. ],
       [ 61. ,   0. ,   0. ,  89.5, 168.9,   0. ,   6. , 207. ,  17. ],
       [ 62. ,   0. ,   1. ,  89.5, 168.9,   0. ,   6. , 207. ,  17. ],
       [ 66. ,  11. ,   4. ,  95.7, 158.7,   3. ,   4. ,  62. ,  35. ],
       [ 67. ,  11. ,   4. ,  95.7, 158.7,   3. ,   4. ,  62. ,  31. ],
       [ 68. ,  11. ,   4. ,  95.7, 158.7,   3. ,   4. ,  62. ,  31. ],
       [ 69. ,  11. ,   3. ,  95.7, 169.7,   3. ,   4. ,  62. ,  31. ],
       [ 70. ,  11. ,   3. ,  95.7, 169.7,   3. ,   4. ,  62. ,  27. ],
       [ 71. ,  11. ,   3. ,  95.7, 169.7,   3. ,   4. ,  62. ,  27. ],
       [ 79. ,  11. ,   3. , 104.5, 187.8,   2. ,   6. , 156. ,  19. ],
       [ 80. ,   9. ,   2. ,  97.3, 171.7,   3. ,   4. ,  52. ,  37. ],
       [ 81. ,   9. ,   2. ,  97.3, 171.7,   3. ,   4. ,  85. ,  27. ],
       [ 82. ,   9. ,   2. ,  97.3, 171.7,   3. ,   4. ,  52. ,  37. ],
       [ 86. ,   9. ,   2. ,  97.3, 171.7,   3. ,   4. , 100. ,  26. ],
       [ 87. ,   6. ,   2. , 104.3, 188.8,   3. ,   4. , 114. ,  23. ],
       [ 88. ,   6. ,   3. , 104.3, 188.8,   3. ,   4. , 114. ,  23. ]])

In [22]:
y = df1.iloc[:, -1].values
y

array([13495., 16500., 16500., 13950., 17450., 15250., 18920., 16430.,
       16925., 20970., 30760., 41315., 36880.,  5151.,  6295.,  6575.,
        6377.,  6229.,  7295., 12945., 10345.,  6785., 32250., 35550.,
       36000.,  5195.,  6095.,  6795., 11845., 18344., 25552., 28248.,
       40960., 45400.,  5389.,  6189.,  6989.,  8189.,  7099.,  6649.,
        6849.,  7349., 13499., 34028., 37028.,  5348.,  6338.,  6488.,
        6918.,  7898.,  8778., 15750.,  7775.,  7975.,  7995.,  9995.,
       12940., 13415.])

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 0, test_size= 0.2)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lin = LinearRegression()

In [28]:
lin.fit(X_train , y_train)

LinearRegression()

In [29]:
y_pred = lin.predict(X_test)

In [30]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [31]:
mean_squared_error(y_test, y_pred)

34442975.947294384

In [32]:
mean_absolute_error(y_test, y_pred)

4158.8370887631145

In [33]:
r2_score(y_test, y_pred)

0.8262200001591188

EXPICITLY CODING MULTIPLE LINEAR REGRESSION

In [50]:
class Linear_Regression:

    def __init__(self):
        self.coef = None
        self.intercept = None
    
    def fit (self, X_train, y_train):
        X_train = np.insert(X_train, 0, 1, axis = 1)
        Betas = np.linalg.inv(np.dot(X_train.T, X_train)).dot(X_train.T).dot(y_train)
        self.coef = Betas[1:]
        self.intercept = Betas[0]

    def coeff_(self):
        return self.coef
    
    def intercept_ (self):
        return self.intercept

    def predict (self, X_test):
        return np.dot(X_test, self.coef) + self.intercept

In [51]:
Linear = Linear_Regression()

In [52]:
Linear.fit(X_train, y_train)

In [53]:
y_pred = Linear.predict(X_test)

In [54]:
mean_squared_error(y_test, y_pred)

34442975.94728508

In [55]:
mean_absolute_error(y_test, y_pred)

4158.837088762531

In [56]:
r2_score(y_test, y_pred)

0.8262200001591657