ELASTIC-NET REGULARIZATION - Combination of L1 and L2

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("C:/Users/2068671/OneDrive - Cognizant/Desktop/Datasets/Automobile_data.csv")

In [3]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [4]:
df.shape

(61, 10)

Handling missing values if any

In [5]:
df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [6]:
df.dropna(how = "any", axis = 0, inplace = True)

In [7]:
df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

Converting categorical to numeric

In [8]:
from word2number import w2n

In [9]:
df["num-of-cylinders"] = df["num-of-cylinders"].apply(w2n.word_to_num)

In [10]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,4,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,4,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,4,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,5,115,18,17450.0

In [11]:
def target_mean_encoding(data, column, target):
    labels = data.groupby(column)[target].mean().sort_values(ascending = True).index
    encoded_labels = {a:b for b,a in enumerate(labels, 0)}
    data[column] = data[column].map(encoded_labels)

In [12]:
target_mean_encoding(df, "company", "price")
target_mean_encoding(df, "body-style", "price")
target_mean_encoding(df, "engine-type", "price")

In [13]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,10,3,88.6,168.8,3,4,111,21,13495.0
1,1,10,3,88.6,168.8,3,4,111,21,16500.0
2,2,10,0,94.5,171.2,4,6,154,19,16500.0
3,3,11,2,99.8,176.6,2,4,102,24,13950.0
4,4,11,2,99.4,176.6,2,5,115,18,17450.0

Dropping index variable

In [14]:
df.drop("index", axis = 1, inplace= True)

In [15]:
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,10,3,88.6,168.8,3,4,111,21,13495.0
1,10,3,88.6,168.8,3,4,111,21,16500.0
2,10,0,94.5,171.2,4,6,154,19,16500.0
3,11,2,99.8,176.6,2,4,102,24,13950.0
4,11,2,99.4,176.6,2,5,115,18,17450.0

Pre processing

In [16]:
X = df.iloc[:, :-1].values

In [17]:
y = df.iloc[:, -1].values

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 0)

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()

In [22]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

Applying Elastic-net using sklearn

In [23]:
from sklearn.linear_model import ElasticNet

In [81]:
E = ElasticNet(alpha = 0.01, l1_ratio = 0.1)

In [82]:
E.fit(X_train, y_train)

ElasticNet(alpha=0.01, l1_ratio=0.1)

In [83]:
E_pred = E.predict(X_test)

In [84]:
from sklearn.metrics import r2_score

In [85]:
r2_score(y_test, E_pred)

0.7256998718639949

In [86]:
from sklearn.linear_model import LinearRegression

In [35]:
lin = LinearRegression()

In [36]:
lin.fit(X_train, y_train)

LinearRegression()

In [37]:
y_pred = lin.predict(X_test)

In [38]:
r2_score(y_test, y_pred)

0.7283792474488415