LASSO REGULARIZATION (L1)

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("C:/Users/2068671/OneDrive - Cognizant/Desktop/Datasets/Automobile_data.csv")

In [4]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [5]:
df.shape

(61, 10)

Handling missing values if any

In [6]:
df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [7]:
df.dropna(how = "any", axis = 0, inplace = True)

In [8]:
df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

Converting categorical to numeric

In [9]:
from word2number import w2n

In [10]:
df["num-of-cylinders"] = df["num-of-cylinders"].apply(w2n.word_to_num)

In [11]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,4,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,4,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,6,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,4,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,5,115,18,17450.0

In [12]:
def target_mean_encoding(data, column, target):
    labels = data.groupby(column)[target].mean().sort_values(ascending = True).index
    encoded_labels = {a:b for b,a in enumerate(labels, 0)}
    data[column] = data[column].map(encoded_labels)

In [13]:
target_mean_encoding(df, "company", "price")
target_mean_encoding(df, "body-style", "price")
target_mean_encoding(df, "engine-type", "price")

In [14]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,10,3,88.6,168.8,3,4,111,21,13495.0
1,1,10,3,88.6,168.8,3,4,111,21,16500.0
2,2,10,0,94.5,171.2,4,6,154,19,16500.0
3,3,11,2,99.8,176.6,2,4,102,24,13950.0
4,4,11,2,99.4,176.6,2,5,115,18,17450.0

Dropping index variable

In [15]:
df.drop("index", axis = 1, inplace= True)

In [16]:
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,10,3,88.6,168.8,3,4,111,21,13495.0
1,10,3,88.6,168.8,3,4,111,21,16500.0
2,10,0,94.5,171.2,4,6,154,19,16500.0
3,11,2,99.8,176.6,2,4,102,24,13950.0
4,11,2,99.4,176.6,2,5,115,18,17450.0

Pre processing

In [17]:
X = df.iloc[:, :-1].values

In [18]:
y = df.iloc[:, -1].values

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 0)

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
sc = StandardScaler()

In [23]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

Applying Lasso Regression using sklearn

In [24]:
from sklearn.linear_model import Lasso

In [85]:
L = Lasso(alpha = 0.5)

In [86]:
L.fit(X_train, y_train)

Lasso(alpha=0.5)

In [87]:
L.coef_

array([ 2779.84480603,   491.52226004,  4539.07158558, -2411.10416582,
        1171.27561586, -1196.17592422,  7924.60609401,  1503.05472021])

In [88]:
L.intercept_

14448.543478260868

In [89]:
L_pred = L.predict(X_test)

Comparing with Linear regression

In [90]:
from sklearn.linear_model import LinearRegression

In [91]:
lin = LinearRegression()

In [92]:
lin.fit(X_train, y_train)

LinearRegression()

In [93]:
lin.coef_

array([ 2779.53943924,   493.56128767,  4548.49396841, -2421.25582675,
        1172.55712637, -1201.34996652,  7931.8321774 ,  1504.89863415])

In [94]:
lin.score(X_train, y_train)

0.9305157808190575

In [95]:
L.score(X_train, y_train)

0.9305155992333137

In [96]:
from sklearn.metrics import r2_score

In [97]:
r2_score(y_test, L_pred)

0.7283677788149786

In [98]:
lin_pred = lin.predict(X_test)

In [99]:
r2_score(y_test, lin_pred)

0.7283792474488415